* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(185, 208, 208);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: rgb(92, 10, 10);
}

#your-name {
  background-color: rgb(128, 208, 208);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: aqua;
}

#html-img {
  width: 300px;
  /* height: 300px; */
}

#your-name h2 {
  color: rgb(57, 6, 104);
}
